# Environment
.env
*.log

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Seed
test_resp.json
resp.json
